In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
import sqlalchemy
from sqlalchemy import create_engine, MetaData
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy import Column, Integer, Float, String, Numeric, Text

In [3]:
engine = create_engine("sqlite:///hawaii.sqlite")
conn = engine.connect()

In [4]:
Base = declarative_base()

class Measurements(Base):
    __tablename__ = "measurements"
    
    measurement_ID = Column(Integer, primary_key = True)
    station = Column(String)
    date = Column(Text)
    prcp = Column(Float)
    tobs = Column(Integer)
    
    def __repr__(self):
        return f"measurement_ID = {self.measurement_ID}, station= {self.station}, date = {self.date}, prcp = {self.prcp}, tobs = {self.tobs}"

In [5]:
Base.metadata.create_all(engine)

In [6]:
new_measurements_df = pd. read_csv("cleaned_measurements_csv")

In [7]:
measurements_data = new_measurements_df.to_dict(orient = 'records')

In [8]:
print(measurements_data[:5])

[{'station': 'USC00519397', 'date': '2010-01-01', 'prcp': 0.08, 'tobs': 65}, {'station': 'USC00519397', 'date': '2010-01-02', 'prcp': 0.0, 'tobs': 63}, {'station': 'USC00519397', 'date': '2010-01-03', 'prcp': 0.0, 'tobs': 74}, {'station': 'USC00519397', 'date': '2010-01-04', 'prcp': 0.0, 'tobs': 76}, {'station': 'USC00519397', 'date': '2010-01-07', 'prcp': 0.06, 'tobs': 70}]

In [9]:
metadata = MetaData(bind = engine)
metadata.reflect()

In [10]:
table = sqlalchemy.Table('measurements', metadata, autoload=True)

In [11]:
conn.execute(table.delete())

In [12]:
conn.execute(table.insert(), measurements_data)

In [13]:
conn.execute("select * from measurements limit 5").fetchall()

[(1, 'USC00519397', '2010-01-01', 0.08, 65),
 (2, 'USC00519397', '2010-01-02', 0.0, 63),
 (3, 'USC00519397', '2010-01-03', 0.0, 74),
 (4, 'USC00519397', '2010-01-04', 0.0, 76),
 (5, 'USC00519397', '2010-01-07', 0.06, 70)]

In [14]:
Base = declarative_base()

class Stations(Base):
    __tablename__ = "stations"
    
    station = Column(String, primary_key = True, autoincrement = False)
    name = Column(String)
    lattitude = Column(Float)
    longitude = Column(Float)
    elevation = Column(Float)
    
    def __repr__(self):
        return f"id= {self.id}, name = {self.name}, lattitude = {self.lattitude}, longitutde = {self.longitutde}, elevation = {self.elevation}"

In [15]:
Base.metadata.create_all(engine)

In [16]:
new_stations_df = pd. read_csv("cleaned_stations_csv")

In [17]:
stations_data = new_stations_df.to_dict(orient = 'records')

In [18]:
print(stations_data[:10])

[{'station': 'USC00519397', 'name': 'WAIKIKI 717.2, HI US', 'latitude': 21.2716, 'longitude': -157.8168, 'elevation': 3.0}, {'station': 'USC00513117', 'name': 'KANEOHE 838.1, HI US', 'latitude': 21.4234, 'longitude': -157.8015, 'elevation': 14.6}, {'station': 'USC00514830', 'name': 'KUALOA RANCH HEADQUARTERS 886.9, HI US', 'latitude': 21.5213, 'longitude': -157.8374, 'elevation': 7.0}, {'station': 'USC00517948', 'name': 'PEARL CITY, HI US', 'latitude': 21.3934, 'longitude': -157.9751, 'elevation': 11.9}, {'station': 'USC00518838', 'name': 'UPPER WAHIAWA 874.3, HI US', 'latitude': 21.4992, 'longitude': -158.0111, 'elevation': 306.6}, {'station': 'USC00519523', 'name': 'WAIMANALO EXPERIMENTAL FARM, HI US', 'latitude': 21.33556, 'longitude': -157.71139, 'elevation': 19.5}, {'station': 'USC00519281', 'name': 'WAIHEE 837.5, HI US', 'latitude': 21.45167, 'longitude': -157.84888999999995, 'elevation': 32.9}, {'station': 'USC00511918', 'name': 'HONOLULU OBSERVATORY 702.2, HI US', 'latitude': 21.3152, 'longitude': -157.9992, 'elevation': 0.9}, {'station': 'USC00516128', 'name': 'MANOA LYON ARBO 785.2, HI US', 'latitude': 21.3331, 'longitude': -157.8025, 'elevation': 152.4}]

In [19]:
metadata = MetaData(bind = engine)
metadata.reflect()

In [20]:
table1 = sqlalchemy.Table('stations', metadata, autoload=True)

In [21]:
conn.execute(table1.delete())

In [22]:
conn.execute(table1.insert(), stations_data)

In [22]:
conn.execute("select * from stations limit 5").fetchall()

[('USC00519397', 'WAIKIKI 717.2, HI US', None, -157.8168, 3.0),
 ('USC00513117', 'KANEOHE 838.1, HI US', None, -157.8015, 14.6),
 ('USC00514830', 'KUALOA RANCH HEADQUARTERS 886.9, HI US', None, -157.8374, 7.0),
 ('USC00517948', 'PEARL CITY, HI US', None, -157.9751, 11.9),
 ('USC00518838', 'UPPER WAHIAWA 874.3, HI US', None, -158.0111, 306.6)]